
/*EStilo GERAL*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #000;
    height: 100vh;
}
/* permite dá espaçamente entre as laterais com o margin*/
.interface{
    max-width: 1280px;
    margin: 0 auto; 
}
.flex{
    display: flex;
}
.btn-contato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600; /*aumenta o peso da fonte*/
    background-color: #ffa806;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}

h2.titulo{
color: #fff;
font-size: 38px;
text-align: center;
}

h2.titulo span{
    color: #ffa806;
}

button:hover{
    box-shadow: 0px 0px 8px #ffa806;
    transform: scale(1.05);
}



/* EStilo CABEÇALHO (ctrl ;) gera o comentário*/
header{
    padding: 40px 4% ;
}

/* o sinal de > chama os elementos da class inteface dentro do header */
header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    color: #5c5c5c;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header a:hover{
    color: #fff;
    transform: scale(1.05); /*essa funcionalidade só é permitida na tag a se ela for definida como display: inline-block*/
}

header nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    padding: 0 40px;
}


/* ESTILO DO TOPO DO SITE */
section.topo-do-site{
    padding: 40px 4%;
}

section.topo-do-site .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-do-site h1{
    color: #fff;
    font-size: 42px;
    line-height: 40px;
}

.topo-do-site .txt-topo-site h1 span{
    color: #ffa806;
}

.topo-do-site .txt-topo-site p{
    color: #fff;
    margin: 40px 0;
}

/* fluatuação da imagem */
.topo-do-site .img-topo-site img{
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}

@keyframes flutuar{
    0%{
        top: 0;
    }
    100%{
        top: 30px;
    }
} 

/* ESTILO DOS DIFERENCIAIS */
section.especialidades{
    padding: 40px 4%;
}
section.especialidades .flex{
    gap: 60px;
}

.especialidades .especialidades-box{
    color: #fff;
    padding: 40px;
    border-radius: 20px;
    margin-top: 45px;
    transition: .2s;
}

.especialidades .especialidades-box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 12px #ffffff75 ;
}

.especialidades .especialidades-box i{
    font-size: 70px;
    color: #ffa200;
}

.especialidades .especialidades-box h3{
    font-size: 28px;
    margin: 15px 0;
}










.especialidades .planos{
    color: #fff;
    background-color: #5c5c5c;
    padding: 40px;
    border-radius: 20px;
    margin-top: 45px;
    box-shadow: 0 0 12px #ffffff75 ;
}

.especialidades .planos i{
    font-size: 70px;
    color: #ffa200;
    text-align: center;
    align-items: center;
}

.especialidades .planos h3{
    font-size: 28px;
    margin: 15px 0;
    color: rgb(176, 0, 0);
}
.especialidades .planos .btn-contato{
    text-align: center;
    margin-top: 30px;
}

/* ESTILO DO SOBRE */
section.sobre{
    padding: 80px 4%;
}

section.sobre .flex{
    align-items: center;
    gap: 40px;
}

.sobre .txt-sobre{
    color: #fff;
}

.sobre .txt-sobre h2{
    font-size: 38px;
    line-height: 40px;
    margin-bottom: 30px;
}

.sobre .txt-sobre h2 span{
    color: #ffa806;
    display: block;
}

.sobre .txt-sobre p{
    margin: 20px 0;
    text-align: justify;
}

.sobre .txt-sobre .btn-social button{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: #ffa806;
    font-size: 22px;
    cursor: pointer;
    margin: 12px 5px;
    transition: .2s;
}

.interface .owl-carousel{
    margin-top: 20px;
    color: #ffa806;
}




@media screen and (max-width: 1020px){
    /* Classes Gerais */
    .flex{
        flex-direction: column;
    }

    /* Cabeçalho */
    header .menu-desktop, header .btn-contato{
        display: none;
    }

    /* Topo do site */
    .topo-do-site h1{
        font-size: 30px;
    }
}